fastapi
uvicorn
pandas
# numpy
# matplotlib
# seaborn
# scikit-learn
# scipy
# apache-airflow
# nbconvert
## 'sdv' is not here because it is quite large and doesn't appear to be automatically added to PATH when installed. It does appear to work wh
